res/
outputs/
hmr4d/dataset/rich/resource/
hmr4d/dataset/AIST/resource/
run.sh
train.sh

__pycache__/
*.py[cod]
*.so
.DS_Store
3dparty/

# SSH keys accidentally generated in repo
yes
yes.pub
id_ed25519
id_ed25519.pub
